@import 'base/variables';
* {
    font-family: $main-font, sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
.title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #0D0D0D;
}
@import 'blocks/advantages';