@import 'base/variables';
* {
    font-family: $main-font, sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.xs-visible {
    display: none;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';

@import 'blocks/media';