.catalog {
    padding-bottom: 79px;
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: 46px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        line-height: 48px;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-20deg);
        cursor: pointer;
        transition: all .2s ease-in-out;
        div {
            transform: skewX(20deg);
        }
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: 2px solid #FFFFFF;
        }
        &_active {
            border: none;
            background-color: $main-color;
            color: #FFFFFF;
            &:hover {
                box-shadow: 3px 3px 20px $main-color;
                border: none;
            }
        }
    }
    &__content {
        margin-top: 57px;
    }
    &-item {
        position: relative;
        width: 303px;
        min-height: 442px;
        padding: 20px 20px;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            color: $main-color;
            text-align: center;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin: 17px 0;
            height: 1px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            color: #555555;
            text-decoration: line-through;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: all .5s;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            width: 50%;
            margin-left: 20px;
            padding-right: 17px;
            transform: translateX(0%);
            transition: all .5s;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            ul {
                list-style: none;
                padding-left: 19px;
                margin-bottom: 0;
                li {
                    position: relative;
                    margin: 5px 0;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    color: #555555;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -20px;  
                        top: 7px;
                        width: 6px;
                        height: 6px;
                        background-color: $main-color;
                        font-size: 28px;
                    }
                }
            }
        }
    }
}